body{
    background-color: antiquewhite;
    font-family: Helvetica, sans-serif;
}
#header-img{
    width: 100;
    height: auto;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
h2{
    padding-right: 5px;
}