body{
    background-color: antiquewhite;
    font-family: Helvetica, sans-serif;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    opacity: 1;
    z-index: 1000;
    background-color: antiquewhite;
}
#header-img{
    width: 100px;
    height: auto;
    display: inline;
    float: left;
    margin-right: 10px;
}
h2{
    display: inline;
    padding-right: 5px;
}
ul{
    display: inline;
    float: right;
}

#nav-bar{
    float: right;
}
#nav-link{
    list-style-type: none;
    float: right;
    margin: 30px;
}

a{
    text-decoration: none;
    margin: 50px;
}

main{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
input{
    margin: 10px;
}
.btn{
    background-color: orange;
    color: black;
    font-weight: bold;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-gap: 50px;
}
.leftcol{
    float: left;
    text-align: right;
    padding-bottom: 20px;
}
.rightcol{
    float: right;
    text-align: left;
    padding-bottom: 20px;
}
#features{
    width: 80%;
    margin: auto;
}

#e580Video{
    margin-top: 50px;
}
#video{
    border-style: solid;
}

#pricing-container{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.pricingBox{
    border-style: solid;
    border-width: 2px;
    width: 33.33% ;
    margin-left: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 1000px){
    #pricing-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .pricingBox{
        width: 300px;
        align-self: center;
        margin-top: 20px;
    }
}
.pricingSpan{
    display: block;
    width: 100%;
    background-color:gray;
}