#main{
    background-color: lightgray;
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 30px 30px 1px 30px;
    margin: 25px 10px 25px 10px;
}

#title{    
    font-size: 25;
    margin-bottom: 0px;
    padding-bottom: 0px;
    opacity: 0.75;
}

#subtitle{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
}

#img-div{
    padding: 5px;
    background-color: antiquewhite;
    display: inline-block;
}