* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: lightgray;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    top:0px;
    left: 0px;
}
ul{
    list-style-type: none;
}
.navlink{
    float: right;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 25px;
}
main{
    padding-top: 100px;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0px;
    left: 0px;
    display: block;
}
#about{
    background-color: lightgray;
    text-align: center;
    height: 30vw;
    padding: 0px;
    width: 100%;
    padding-top: 20%;
}
#work{
    background-color: lightblue;
    text-align: center;
    height: 700px;
}
#contact{
    background-color: lightcyan;
    text-align: center;
    height: 700px;
}
h3{
    color: darkblue;
}
h2{
    padding-top: 5%; 
}
.works-sample{
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    width: 20%;
}
tr,td{
    border: 1px solid black;
}
.grid-container{
    display: grid;
    grid-gap: 20%;
}
.work-image{
    display: block;
    margin: auto;
    width: 100%;
    height: 20%;
}